{% extends 'duser/base_common.html' %}
{% block title %}商品列表{% endblock title %}


{% block navbar_con_son1 %}
{% endblock navbar_con_son1 %}
{% block breadcrumb %}
    <div class="breadcrumb">
        <a href="#">全部分类</a>
        <span>></span>
        <a href="#">{{ typeinfo.ttitle }}</a>
    </div>
{% endblock breadcrumb %}
{% block search_bar_1 %}
{% endblock search_bar_1 %}


{% block main_wrap %}
    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    <li>
                        <a href="#"><img src="/static/images/goods/goods001.jpg"></a>
                        <h4><a href="#">进口柠檬</a></h4>
                        <div class="prize">￥3.90</div>
                    </li>
                    <li>
                        <a href="#"><img src="/static/images/goods/goods002.jpg"></a>
                        <h4><a href="#">玫瑰香葡萄</a></h4>
                        <div class="prize">￥16.80</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <div class="sort_bar">
                <a href="#" class="active">默认</a>
                <a href="#">价格</a>
                <a href="#">人气</a>
            </div>

            <ul class="goods_type_list clearfix">
                {% for goods in page %}
                    <li>
                        <a href="{% url 'common:detail' goods.id %}"><img src="/static/{{ goods.gpic }}"></a>
                        <h4><a href="{% url 'common:detail' goods.id %}">{{ goods.gtitle }}</a></h4>
                        <div class="operate">
                            <span class="prize">￥{{ goods.gprice }}</span>
                            <span class="unit">{{ goods.gunit }}</span>
                            <a href="#" class="add_goods" title="加入购物车"></a>
                        </div>
                    </li>
                {% endfor %}


            </ul>
            <div class="pagenation">

                {% if page.has_previous %}
                    <a onclick="void(0);return false;" href="#" data-typeid="{{ typeinfo.id }}"
                       data-page="{{ 1 }}">首页</a>
                    <a onclick="void(0);return false;" href="#" data-typeid="{{ typeinfo.id }}"
                       data-page="{{ page.number|add:-1 }}">上一页</a>

                {% endif %}

                {% for p_index in prange %}

                    {% if p_index == page.number %}

                        <a class="active" onclick="void(0);return false;" href="#" data-typeid="{{ typeinfo.id }}"
                           data-page="{{ p_index }}">{{ p_index }}</a>
                    {% else %}
                        <a onclick="void(0);return false;" href="#" data-typeid="{{ typeinfo.id }}"
                           data-page="{{ p_index }}">{{ p_index }}</a>
                    {% endif %}

                {% endfor %}

                {% if page.has_next %}
                    <a onclick="void(0);return false;" href="#" data-typeid="{{ typeinfo.id }}"
                       data-page="{{ page.number|add:+1 }}">下一页</a>
                    <a onclick="void(0);return false;" href="#" data-typeid="{{ typeinfo.id }}"
                       data-page="{{ page.paginator.num_pages }}">末页</a>

                {% endif %}

            </div>
        </div>
    </div>
{% endblock main_wrap %}

{% block after_footer %}
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
        $(document).delegate(".pagenation > a", 'click', function () {
            var clicked_a = $(this);
            var p = clicked_a.parent();


            var type_id = $(this).attr('data-typeid');
            var page_id = $(this).attr('data-page');

            $.get('/get_prange/', {'type_id': type_id, 'page_id': page_id}, function (data_prange) {
                console.log(data_prange);

                $.get('/get_list/', {'type_id': type_id, 'page_id': page_id}, function (data_list) {
                    console.log(data_list);

                    if (data_prange['index'] >= 2) {
                        console.log(p.children().first().text());


                        if (p.children().first().text() !== '首页') {
                            var a_first = $("<a>", {
                                onclick: "void(0);return false;",
                                href: "#",
                                'data-typeid': type_id,
                                'data-page': 1,
                                text: '首页'

                            });

                            p.prepend(a_first);

                        }


                    }


                });


            });


        });


    </script>
{% endblock after_footer %}

