{% extends "duser/base_user.html" %}
{% load filters %}
{% block class2 %}
    active
{% endblock class2 %}
{% block right_content %}
    <div class="right_content clearfix">
        <h3 class="common_title2">全部订单</h3>

        {% for buyer in buyers %}
            <ul class="order_list_th w978 clearfix">
                <li class="col01">{{ buyer.buydate }}</li>
                <li class="col02">订单号：{{ buyer.buyid }}</li>
                <li class="col02 stress">
                    {% if buyer.buyispay %}
                        已支付
                    {% else %}
                        未支付
                    {% endif %}
                </li>
            </ul>

            <table class="order_list_table w980">
                <tbody>
                <tr>
                    <td width="55%">

                        {% for detail in buyer.buydetailinfo_set.all %}

                            <ul class="order_goods_list clearfix">
                                <li class="col01"><img src="/static/{{ detail.goods.gpic }}"></li>
                                <li class="col02">{{ detail.goods.gtitle|truncatechars:16 }}<em>{{ detail.price }}元/{{ detail.goods.gunit }}</em>
                                </li>
                                <li class="col03">{{ detail.count }}</li>
                                <li class="col04">{{ detail.price|my_mul:detail.count }}元</li>
                            </ul>
                        {% endfor %}

                    </td>
                    <td width="15%">{{ buyer.buytotoal }}元</td>
                    {% if buyer.buyispay %}

                        <td width="15%">已付款</td>
                        <td width="15%"><a href="#" class="oper_btn">查看物流</a></td>

                    {% else %}

                        <td width="15%">待付款</td>
                        <td width="15%"><a href="#" class="oper_btn">去付款</a></td>

                    {% endif %}
                </tr>
                </tbody>
            </table>

        {% endfor %}






        <div class="pagenation">
            <a href="#">上一页</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">下一页</a>
        </div>
    </div>
{% endblock right_content %}








